.empForm{
}
.md-32{
    font-size: 32px;
    padding-top: 10px;
}
.footer{
    background-color: rgb(92,106,192);
    width: 100%;
    height: 58px;
}
.footer button{
    float:right;
}
.footer button[type="submit"]{
    background-color: rgb(233,28,99);
    color: #fff;
}
.footer button[type="reset"]{
    background-color: #fff;
    color: rgb(125,125,125);
}
.footer button[type="submit"], .footer button[type="reset"]{
    font-size: 12px;
    margin: 10px;
}

.footer button:disabled{
    cursor: not-allowed;
}

md-input-container, md-select {
  width: 85%;
}
md-select{
    margin: 12px;
}
md-input-container{
    margin: 8px;
}
md2-datepicker{
    min-width: 87%;
    margin-bottom: 8px;
}