<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" formControlName="firstName">
    </li>
    <li>
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" formControlName="lastName">
    </li>
    <li>
      <label for="gender">Gender</label>
      <select name="gender" id="gender" formControlName="gender">
        <option *ngFor="let gender of lookupLists.gender" value="{{gender}}">{{gender}}</option>
      </select>
    </li>
    <li>
      <label for="dob">Date of Birth</label>
      <input type="date" name="dob" id="dob"formControlName="dob">
    </li>
    <li>
      <label for="nationality">Nationality</label>
      <input type="text" name="nationality" id="nationality" formControlName="nationality">
    </li>
    <li>
      <label for="married">Marital Status</label>
      <input type="text" name="married" id="married" formControlName="martial">
    </li>
    <li>
      <label for="phone">Phone</label>
      <input type="text" name="phone" id="phone" formControlName="phone">
    </li>
    <li>
      <label for="subdivision">Sub Division</label>
      <input type="text" name="subdivision" id="subdivision" formControlName="subDivision">
    </li>
    <li>
      <label for="status">Status</label>
      <input type="text" name="status" id="status" formControlName="status">
    </li>
    <li>
      <label for="suspend">Suspend Date</label>
      <input type="date" name="suspend" id="suspend" formControlName="suspendDate">
    </li>
    <li>
      <label for="hired">Hired date</label>
      <input type="date" name="hired" id="hired" formControlName="hireDate">
    </li>
    <li>
      <label for="division">Division</label>
      <input type="text" name="division" id="division" formControlName="division">
    </li>
    <li>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" formControlName="email">
    </li>
    <li>
      <label for="location">Location</label>
      <select name="location" id="location" formControlName="location">
        <option *ngFor="let loc of locations" value="{{loc.name}}">{{loc.name}}</option>
      </select>
    </li>
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>