<div fxLayout="column">
  <div fxFlex>
    <md-toolbar>
      <md-icon class="md-48">person</md-icon>
        <p>Wawan jamaluddin<br><span>SE-AN</span></p>
      <span class="example-fill-remaining-space"></span>
      <md-icon class="md-24">settings</md-icon>
      <md-icon class="md-24">power_settings_new</md-icon>
    </md-toolbar>
  </div>
 <div fxFlex>
   <div class="main" fxLayout="row">
    <div class="left-section" fxFlex="25">
        <app-list></app-list>
    </div>
    <div class="right-section" fxFlex="75">
      <router-outlet></router-outlet>
    </div>
   </div>
  </div>
</div>