
.md-24{
    font-size: 24px;
    color:#fff;
    margin-left: 10px;
    line-height: 50px;
}
.md-16{
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}
button{
    position: absolute;
    top: 50%;
    left: 19%;
    background-color: rgb(233,28,99);
    color:#fff;
}
.nav-card{
    background-color: rgb(92,107,192);
    height: 50px;
    width: 100%;
}

md-input-container{
    color: #fff;
}
a{
    cursor: pointer;
}
.not-found{
    padding:30px;
    background: lightgray;
}