<div class="card-container">
  <div class="nav-card">
    <div fxLayout="row">
      <div fxFlex="15">
        <md-icon class="md-24">search</md-icon>
      </div>
      <div fxFlex="50">
        <md-input-container>
          <input name="search" #search (keyup)="onSearch($event)" mdInput placeholder="Search" >
        </md-input-container>
      </div>
      <div fxFlex="35">
        <div class="toolbar">
          <a *ngIf="selectedEmployee" (click)="onDelete()"><md-icon class="md-16">delete</md-icon></a>
          <a>
            <md-icon class="md-16" (click)="sortAsc()">keyboard_arrow_up</md-icon>
          </a>
          <a>
            <md-icon class="md-16" (click)="sortDesc()">keyboard_arrow_down</md-icon>
          </a>
          <a>
          <md-icon class="md-16" (click)="onFilter()">filter_list</md-icon>
          </a>
            <md-chip>{{employees!=null?employees.length:0}}</md-chip>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="found" class="list">
    <app-employee-card
      *ngFor="let employee of employees"
      [employee]="employee"
      (throwEmployee)="getEmployee($event)"></app-employee-card>
  </div>
  <div *ngIf="!found">
    <div class="tablecell">
        We couldn't find what you're looking for
    </div>
  </div>
  <button md-fab (click)="addEmployee()">
      <md-icon>add_circle</md-icon>
    </button>
</div>
