md-card{
    padding: 10px;
    cursor: pointer;
}
.md-64{
    font-size: 64px;
}
.md-32{
    font-size: 32px;
}
md-card-title{
    font-size: 14px;
}
md-card-subtitle, md-card-content{
    font-size: 12px;
}
.card{
width: 100%;
}
.img-card {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.card-container:hover{
    background-color: lightblue;
}
.card-selected{
    background-color: lightblue;
}
